<!DOCTYPE html>
<html lang="en">

<head>
    <title>Iguazu Cafe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/265ed8ed5a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="order">
    <!-- Collaborative House Project -->
    <div class="text-center">
        <a href="/index" class="btn btn-default"><img src="img/logo.png" alt="" class="logo"><br>Login or Sign-Up</a>
    </div>

    <div class="container custTwo box">
        <div class="buttons">
            <div class="row text-center">
                <h2>size</h2>
                <button class="size btn-lg btn-warning" value="small">Small</button>
                <button class="size btn-lg btn-warning" value="medium">Medium</button>
                <button class="size btn-lg btn-warning" value="large">Large</button> 

                <h2>coffee type</h2>
                <button class="coffee btn-lg btn-warning" value="Café Pilão (Brazilian)">Brazilian</button>
                <button class="coffee btn-lg btn-warning" value="Colombia El Cedro">Colombian</button>
                <button class="coffee btn-lg btn-warning" value="Volcanica Costa Rican Peaberry">Costa Rican</button>
                <button class="coffee btn-lg btn-warning" value="Jamaica Blue Mountain">Jamaican</button>
                <button class="coffee btn-lg btn-warning" value="Organic Yirgacheffe Kochere">Ethiopian</button>
                <button class="coffee btn-lg btn-warning" value="Café rébo (Haitian)">Haitian</button>
                <button class="coffee tea btn-lg btn-warning" value="English Breakfast">Black Tea</button>
                <button class="coffee tea btn-lg btn-warning" value="Buddha Teas Organic Sencha">Green Tea</button>

            </div>
            <div class="row text-center">

                <h2>hot or iced</h2>
                <button class="temp btn-lg btn-warning" value="hot">Hot</button>
                <button class="temp btn-lg btn-warning" value="iced">Iced</button>

                <h2>cream: dairy & non-dairy</h2>
                <button class="cream btn-lg btn-warning" value="dairy">Dairy</button>
                <button class="cream btn-lg btn-warning" value="soy">Soy</button>
                <button class="cream btn-lg btn-warning" value="almond">Almond</button>
                <button class="cream btn-lg btn-danger red" value="none">None</button>

                <h2>flavor</h2>
                <button class="flavor btn-lg btn-warning" value="french vanilla">French Vanilla</button>
                <button class="flavor btn-lg btn-warning" value="hazelnut">Hazelnut</button>
                <button class="flavor btn-lg btn-warning" value="caramel">Caramel</button>
                <button class="flavor btn-lg btn-warning" value="mocha">Mocha</button>
                <button class="flavor btn-lg btn-danger red" value="none">None</button>
            </div>

        </div>
        <div class="orderForm">
            <form action="/newOrder" method="POST" class="text-center h2">
                <div class="details">
                    <label for="name">customer name</label>
                    <input type="text" placeholder="Customer Name" name="name">
                </div>
                <div class="details">
                    <label>size</label><br>
                    <input type="text" class="coffeeSize" name="size">
                </div>
                <div class="details">
                    <label>coffee type</label>
                    <input type="text" class="coffeeOrder" name="coffee">
                </div>
                <div class="details">
                    <label>hot or iced</label>
                    <input type="text" name="temp" class="coffeeTemp">
                </div>
                <div class="details">
                    <label>cream</label>
                    <input type="text" class="coffeeCream" name="cream">
                </div>
                <div class="details">
                    <label for="flavor">add flavor?</label>
                    <input type="text" class="coffeeFlavor" name="flavor">
                </div>
                <button type="submit" class="btn btn-light btn-lg">Submit Order</button>
            </form>
        </div>

    <script src="main.js"></script>
</body>

</html>